.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: rgb(22, 22, 22);
  color: darkblue;
}

.container {
  width: 100%;
}

.page {
  position: relative;
  top: 10px;
}

.puzzle {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
}

.piece {
  width: 33%;
  height: 33%;
  background: #f4f4f4;
  /* background: url("https://images.unsplash.com/photo-1559633657-c3008b46bac6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80"); */
  background-size: 280px;
}

.finalimage img {
  width: 280px;
  height: 280px;
}

.p1 {
  background-position: 0 0;
}

.p2 {
  background-position: 50% 0 !important;
}

.p3 {
  background-position: 100% 0 !important;
}

.p4 {
  background-position: 0 50% !important;
}

.p5 {
  background-position: 50% 50% !important;
}

.p6 {
  background-position: 100% 50% !important;
}

.p7 {
  background-position: 0 100% !important;
}

.p8 {
  background-position: 50% 100% !important;
}

.p9 {
  background-position: 100% 100% !important;
  opacity: 0;
}

.nextbutton{
  padding: 0px;
  width: 50px;
  height: 30px;
  font-size: 1em;
  margin: 50px 10px;
  border: 2px solid #0a24cc;
  border-radius: 5px;
  background: #2991e6;
  transform: translate(120px,-30px);
}
